<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hu.crm.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.hu.crm.domain.Permission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="expression" property="expression" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM permission
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.hu.crm.domain.Permission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO permission (name, expression)
        VALUES (#{name,jdbcType=VARCHAR}, #{expression,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.hu.crm.domain.Permission">
        UPDATE permission
        SET name       = #{name,jdbcType=VARCHAR},
            expression = #{expression,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select id, name, expression
    from permission
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name, expression
    from permission
  </select>
    <sql id="where_id">
        <where>
            <if test="rid!=null">
                id in(SELECT p_id FROM role_permission WHERE r_id = #{rid})
            </if>
        </where>
    </sql>
    <select id="queryForPageCount" resultType="long">
        SELECT COUNT(*) FROM permission
        <include refid="where_id"/>
    </select>
    <select id="queryForPage" resultMap="BaseResultMap">
        SELECT * FROM permission
        <include refid="where_id"/>
        <if test="page!=null">
      limit #{start},#{rows}
    </if>
    </select>
</mapper>